export DOCKER_VERSION="5:24.0.7-1~ubuntu.23.04~lunar"
export CONTAINERD_VERSION="1.6.26-1"

export KUBE_MAJOR="1.27"
export KUBE_VERSION="${KUBE_MAJOR}.9"
export KUBE_PKG_VERSION="${KUBE_VERSION}-1.1"
