export DOCKER_VERSION="5:26.1.0-1~ubuntu.22.04~jammy"
export CONTAINERD_VERSION="1.6.31-1"

export KUBE_MAJOR="1.27"
export KUBE_VERSION="${KUBE_MAJOR}.10"
export KUBE_PKG_VERSION="${KUBE_VERSION}-1.1"
